body {
  background: url("2952057-pokemon-crystal-cgi-3d-colorful-digital-art___abstract-wallpapers.jpg");
    font-family: arial;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
